@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

header{
    background-color: #262626;
}

.Title{
    padding: 20px;
    background: linear-gradient(
        to right,
        rgba(68, 246, 246, 0.904),
        rgba(255, 0, 255, 0.955)
    );
    border-radius: 5px;
    text-align: center;
    color: #fff;
    text-shadow: 0 0 2px 0 rgba(128, 128, 128, 0.869);
    width: 100%;
}

.Title_S{
    padding: 10px; 
    background:linear-gradient(
        to right,
        yellow,
        lime,
        white
    );
    text-align: left;
    color: black;
    width: inherit;
    border-radius: 5px;
}
li{
    list-style: none;
}

a{
    color: white;
    text-decoration: none;
}

.navbar{
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}

.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.nav-banding{
    font-size: 2rem;
}

.nav-link{
    transition: 0.7s ease;
}

.nav-link:hover{
    color: dodgerblue;
}

.hamburger{
    display: none;
    cursor: pointer;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}
section{
    padding: 10px;
    margin: 10px;
    height: 100vh;
    background-color: #fff;
    /* background: linear-gradient(
        to left,
        gray,
        lightgray,
        white
    ); */
}

.buttons{
    display: flex;
    justify-content:space-evenly;
    text-align: center;
    width: 100%;
    padding: 20px;
}

.buttons button{
    box-shadow: 0 0 2px 0 gray;
    border-radius: 5px;
    border: none;
    text-align: center;
    padding: 5px;
    width: 100px;
    color: white;
    background-color: green;
}


button:hover{
    transform: scale(1.1);
}


@media (max-width:768px){
    .hamburger{
        display: block;
    }
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .nav-menu{
        position: fixed;
        left: -100%;
        top:70px;
        gap: 0;
        flex-direction: column;
        background-color: #262626;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }

    .nav-item{
        margin: 16px 0;
    }

    .nav-menu.active{
        left: 0;
    }
}

@media (max-width:768px){
    .buttons{
        flex-direction: column;
    }

    .buttons button{
        padding: 10px;
        margin: 10px;
        width: 90%;
    }

}

